<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kuncilyrics2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Event dan Wedding Organizers"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.kuncilyrics2.SplashScreen"
            android:label="Event dan Wedding Organizers"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="MainActivity" android:label="Event dan Wedding Organizers"></activity>
        <activity android:name="MenuTabs" android:label="Menu Utama"></activity>
        <activity android:name="LaguBaru"></activity>
        <activity android:name="LaguIndo"></activity>
        <activity android:name="CordLaguBaru"></activity>
        <activity android:name="CordLaguIndo"></activity>
       </application>

</manifest>